@use "../functions" as *;

.loyalty {
  padding-block: s(24);

  @include mobile {
    padding-block: s(16);
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - #{s(96)});
    min-height: calc(100svh - #{s(96)});
    padding: s(24);
    overflow: hidden;
    isolation: isolate;
    color: var(--color-white);
    background: var(--color-dark);
    text-align: center;

    // затемнение поверх фоновой картинки
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.57%, rgba(0, 0, 0, 0.5) 100%);
      pointer-events: none;
    }

    @include tablet {
      min-height: s(640);
    }

    @include mobile {
      min-height: s(600);
      padding-inline: s(16);
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    max-width: s(520);
    margin-block: s(42);
    font-weight: 300;
    letter-spacing: -0.04em;

    @include mobile {
      margin-block: s(32);
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: s(8);
  }

  &__btn {
    display: flex;
    align-items: center;
    height: s(48);
    padding: s(8) s(12);
    color: var(--color-text);
    background: var(--color-gray);
    font: 500 s(14)/1.2 var(--font-secondary);
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background: var(--color-white);
    }

    &--ghost {
      color: var(--color-white);
      background: rgba(255, 255, 255, 0.15);

      &:hover {
        color: var(--color-text);
      }
    }
  }
}
