@use "../functions" as *;

.post {
  padding-block: s(64);

  @include mobile {
    padding-block: s(42);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: s(8);
    height: s(32);
    padding: s(8) s(16);
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.03);
    font: 500 s(14)/1.3 var(--font-secondary);
    text-transform: uppercase;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      color: var(--color-text);
      background: var(--color-white);
    }
  }

  &__back-icon {
    flex-shrink: 0;
    width: s(14);
    height: s(14);
  }

  &__date {
    margin-top: s(24);
    color: rgba(0, 0, 0, 0.6);
    font: 400 s(14)/1.3 var(--font-secondary);
  }

  &__title {
    max-width: s(692);
    margin-top: s(24);
    font-size: s(32);
    line-height: 1.2;
    text-align: center;

    @include tablet {
      font-size: s(28);
    }

    @include mobile {
      margin-top: s(16);
      font-size: s(24);
    }
  }

  &__img {
    width: s(692);
    height: auto;
    margin-top: s(42);
    aspect-ratio: 692 / 400;
    object-fit: cover;

    @include mobile {
      width: 100%;
      margin-top: s(24);
    }
  }

  &__content {
    width: 100%;
    max-width: s(692);
    margin-top: s(42);
    line-height: 1.5;

    @include mobile {
      margin-top: s(24);
    }

    > * + * {
      margin-top: s(16);
    }

    h2,
    h3 {
      margin-top: s(24);
      font: 700 s(20)/1.2 var(--font-main);
      text-transform: uppercase;
    }

    img {
      width: 100%;
      height: auto;
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
}
