<section class="about">
  <div class="about__container container">
    <div class="about__head">
      <h2 class="about__title text-up">Orlov Banya Sea Breeze — премиальный банный комплекс на территории Baku Sea Breeze, объединяющий общественную баню и 6 отдельных семейных банных вилл.</h2>

      <p class="about__text">Близость Каспийского моря, курортная инфраструктура Sea Breeze и высокий уровень сервиса ORLOV BANYA формируют здесь особый сценарий отдыха, где банные ритуалы становятся естественной частью жизни у моря. Это место для неспешной перезагрузки, восстановления и качественного времени вдали от городского ритма — с ощущением собственного дома на курорте.</p>

      <div class="about__features">
        <p class="about__label">В комплексе предусмотрены</p>
        <ul class="about__tags">
          <li class="about__tag">Большая общая парная</li>
          <li class="about__tag">Две малые парные</li>
          <li class="about__tag">Хаммам</li>
          <li class="about__tag">SPA-процедуры</li>
          <li class="about__tag">Кухня и дополнительные сервисы для полноценного отдыха</li>
          <li class="about__tag">VIP-кабинеты</li>
          <li class="about__tag">Банные виллы</li>
        </ul>
      </div>
    </div>

    <div class="about__slider swiper">
      <div class="swiper-wrapper">
        <div class="about__slide swiper-slide">
          <img class="about__img" src="img/about-img-1.png" width="1672" height="941" alt="Зона отдыха с камином и панорамными окнами" loading="lazy">
        </div>
        <div class="about__slide swiper-slide">
          <img class="about__img" src="img/about-img-2.png" width="1672" height="941" alt="Общая парная с каменной печью" loading="lazy">
        </div>
        <div class="about__slide swiper-slide">
          <img class="about__img" src="img/about-img-1.png" width="1672" height="941" alt="" loading="lazy">
        </div>
        <div class="about__slide swiper-slide">
          <img class="about__img" src="img/about-img-2.png" width="1672" height="941" alt="" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
