<section class="banya">
  <div class="banya__container container">
    <div class="banya__head">
      <h2 class="banya__title text-up reveal-blur">Пространство для настоящего банного отдыха с большой и малыми парными, хаммамом и коллективными парениями каждый час.</h2>
      <button class="banya__btn reveal-blur" type="button">
        <span class="banya__btn-icon">
          @@include('icons/book.html')
        </span>
        Забронировать
      </button>
    </div>

    <div class="banya__slider swiper">
      <div class="swiper-wrapper">
        <div class="banya__slide swiper-slide reveal-clip">
          <img class="banya__img" src="img/about-img-1.png" width="1672" height="941" alt="Зона отдыха с камином и панорамными окнами" loading="lazy">
        </div>
        <div class="banya__slide swiper-slide reveal-clip">
          <img class="banya__img" src="img/about-img-2.png" width="1672" height="941" alt="Общая парная с каменной печью" loading="lazy">
        </div>
        <div class="banya__slide swiper-slide reveal-clip">
          <img class="banya__img" src="img/about-img-1.png" width="1672" height="941" alt="" loading="lazy">
        </div>
        <div class="banya__slide swiper-slide reveal-clip">
          <img class="banya__img" src="img/about-img-2.png" width="1672" height="941" alt="" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
