<section class="bath-vip">
  <div class="bath-vip__container container">
    <h2 class="bath-vip__title text-up reveal-blur">Для более уединенного отдыха в общественной бане предусмотрены 2 VIP-кабинета.</h2>
    <p class="bath-vip__text reveal-blur">Бронирование осуществляется с внесением депозита. Подробная информация о вместимости, оснащении и концепции кабинетов будет предоставлена дополнительно.</p>

    <ul class="bath-vip__list">
      <li class="bath-vip__card reveal-down">
        <img class="bath-vip__img" src="img/bath-vip-1.png" width="1672" height="941" alt="" loading="lazy">
        <p class="bath-vip__label reveal-blur">Габала</p>
        <h3 class="bath-vip__name text-up reveal-blur">Тишина, тепло и<br>приватный отдых.</h3>
        <ul class="bath-vip__tags reveal-blur">
          <li class="bath-vip__tag">До 4 гостей</li>
          <li class="bath-vip__tag">От 4-ч часов</li>
        </ul>
      </li>
      <li class="bath-vip__card reveal-down">
        <img class="bath-vip__img" src="img/bath-vip-2.png" width="1672" height="941" alt="" loading="lazy">
        <p class="bath-vip__label reveal-blur">Баку</p>
        <h3 class="bath-vip__name text-up reveal-blur">Характер, традиции<br>и особая атмосфера.</h3>
        <ul class="bath-vip__tags reveal-blur">
          <li class="bath-vip__tag">До 4 гостей</li>
          <li class="bath-vip__tag">От 4-ч часов</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
