<section class="bath-space">
  <div class="bath-space__container container">
    <h2 class="bath-space__title text-up reveal-blur">Пространство<br>мужского разряда</h2>
    <p class="bath-space__text reveal-blur">Всё необходимое для полноценного банного отдыха — от просторных парных до SPA-зон и приватных кабинетов.</p>

    <div class="bath-space__slider swiper">
      <div class="swiper-wrapper">
        <figure class="bath-space__slide swiper-slide reveal-clip">
          <img class="bath-space__img" src="img/about-img-1.png" width="1672" height="941" alt="Зона отдыха с камином и панорамными окнами" loading="lazy">
          <figcaption class="bath-space__caption">Пространство вместительностью до 70 гостей</figcaption>
        </figure>
        <figure class="bath-space__slide swiper-slide reveal-clip">
          <img class="bath-space__img" src="img/about-img-2.png" width="1672" height="941" alt="Общая парная с каменной печью" loading="lazy">
          <figcaption class="bath-space__caption">1 большая общая парная</figcaption>
        </figure>
        <figure class="bath-space__slide swiper-slide reveal-clip">
          <img class="bath-space__img" src="img/about-img-1.png" width="1672" height="941" alt="" loading="lazy">
          <figcaption class="bath-space__caption">2 малые парные</figcaption>
        </figure>
        <figure class="bath-space__slide swiper-slide reveal-clip">
          <img class="bath-space__img" src="img/about-img-2.png" width="1672" height="941" alt="" loading="lazy">
          <figcaption class="bath-space__caption">Хаммам</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
