<section class="booking">
  <div class="booking__container container">
    <ul class="booking__list">
      <li class="booking__card reveal-clip">
        <img class="booking__img" src="img/booking-img-1.png" width="459" height="360" alt="" loading="lazy">
        <div class="booking__body">
          <p class="booking__meta">Бронирование входного билета</p>
          <h3 class="booking__name">Посещение общественной бани</h3>
          <a class="booking__btn" href="book.html">Забронировать</a>
        </div>
      </li>
      <li class="booking__card reveal-clip">
        <img class="booking__img" src="img/booking-img-2.png" width="459" height="360" alt="" loading="lazy">
        <div class="booking__body">
          <p class="booking__meta">Бронирование входного билета</p>
          <h3 class="booking__name">Посещение общественной бани</h3>
          <a class="booking__btn" href="book.html">Забронировать</a>
        </div>
      </li>
      <li class="booking__card reveal-clip">
        <img class="booking__img" src="img/booking-img-3.png" width="459" height="360" alt="" loading="lazy">
        <div class="booking__body">
          <p class="booking__meta">Бронирование банной виллы</p>
          <h3 class="booking__name">Отдых в отдельной вилле</h3>
          <a class="booking__btn" href="villas.html">Выбрать виллу</a>
        </div>
      </li>
    </ul>
  </div>
</section>
