<section class="catalog" id="catalog">
  <div class="catalog__container container">
    <h2 class="catalog__title text-up reveal-blur">Каталог</h2>

    <ul class="catalog__list">
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
      @@include('sections/catalog-item.html', { "img": "product-img.png", "meta": "Уход · 200 мл", "name": "Мягкое средство для очищения кожи", "price": "4 900" })
    </ul>
  </div>
</section>
