<section class="certificate">
  <div class="certificate__container container">
    <div class="certificate__content">
      <h2 class="certificate__title text-up reveal-blur">Подарочный сертификат Orlov Banya Sea Breeze</h2>
      <p class="certificate__text reveal-blur">возможность подарить близким отдых и банные впечатления в премиальном комплексе Sea Breeze.</p>
      <button class="certificate__btn reveal-blur" type="button">
        <span class="certificate__btn-icon">
          @@include('icons/book.html')
        </span>
        Приобрести
      </button>
    </div>

    <div class="certificate__media reveal-down">
      <img class="certificate__bg" src="img/certificate-bg.png" width="1384" height="1040" alt="" loading="lazy">
      <img class="certificate__img" src="img/certificate.png" width="1142" height="394" alt="Подарочный сертификат Orlov Banya Sea Breeze" loading="lazy">
    </div>
  </div>
</section>
