<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title text-up reveal-blur">Контакты</h2>

    <div class="contacts__grid">
      <div class="contacts__card reveal-blur">
        <img class="contacts__img" src="img/about-img-2.png" width="692" height="360" alt="Общая парная с каменной печью" loading="lazy">
        <div class="contacts__info">
          <p class="contacts__label">График общественной бани</p>
          <p class="contacts__value">Пн-Вс / 9:00 - 23:00</p>
        </div>
      </div>
      <div class="contacts__card reveal-blur">
        <img class="contacts__img" src="img/about-img-1.png" width="692" height="360" alt="Зона отдыха с камином и панорамными окнами" loading="lazy">
        <div class="contacts__info">
          <p class="contacts__label">График банных вилл</p>
          <p class="contacts__value">Пн-Вс / Круглосуточно</p>
        </div>
      </div>

      <div class="contacts__info contacts__info--small reveal-blur">
        <p class="contacts__label">Адрес</p>
        <p class="contacts__value">Ул. Пушкина, д 4</p>
      </div>
      <div class="contacts__info contacts__info--small reveal-blur">
        <p class="contacts__label">Связаться</p>
        <a class="contacts__value" href="tel:+">+X (XXX) XXX-XX-XX</a>
      </div>
      <div class="contacts__info contacts__info--small reveal-blur">
        <p class="contacts__label">Email</p>
        <a class="contacts__value" href="mailto:info@orlovbanya-seabreeze.az">info@orlovbanya-seabreeze.az</a>
      </div>

      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">Instagram</span>
        <img class="contacts__link-img" src="img/inst.png" width="200" height="56" alt="" loading="lazy">
      </a>
      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">Tripadviser</span>
        <img class="contacts__link-img" src="img/trip.png" width="200" height="56" alt="" loading="lazy">
      </a>
      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">WhatsApp</span>
        <img class="contacts__link-img" src="img/wp.png" width="200" height="56" alt="" loading="lazy">
      </a>
      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">Google Maps</span>
        <img class="contacts__link-img" src="img/google.png" width="200" height="56" alt="" loading="lazy">
      </a>
      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">Яндекс Карты</span>
        <img class="contacts__link-img" src="img/yandex.png" width="200" height="56" alt="" loading="lazy">
      </a>
      <a class="contacts__link reveal-blur" href="#" target="_blank" rel="noopener">
        <span class="contacts__link-name">2ГИС</span>
        <img class="contacts__link-img" src="img/2gis.png" width="200" height="56" alt="" loading="lazy">
      </a>

      <div class="contacts__info contacts__info--small contacts__info--accent reveal-blur">
        <p class="contacts__label">Расположение</p>
        <p class="contacts__value">На территории Sea Breeze</p>
      </div>
      <div class="contacts__info contacts__info--small contacts__info--accent reveal-blur">
        <p class="contacts__label">VIP парковка</p>
        <p class="contacts__value">При отеле для гостей</p>
      </div>
      <div class="contacts__info contacts__info--small contacts__info--accent reveal-blur">
        <p class="contacts__label">Доп.услуги</p>
        <p class="contacts__value">Барбершоп</p>
      </div>
    </div>
  </div>
</section>
