<section class="dishes">
  <div class="dishes__container container">
    <h2 class="dishes__title text-up text-center reveal-blur">Банная гастрономия с акцентом на локальную азербайджанскую кухню — от легких закусок до полноценных горячих блюд.</h2>
    <a class="dishes__btn reveal-blur" href="#">Смотреть меню</a>

    <div class="dishes__slider swiper">
      <div class="swiper-wrapper">
        <div class="dishes__slide swiper-slide reveal-clip">
          <img class="dishes__img" src="img/dish-1.png" width="692" height="420" alt="Хингал" loading="lazy">
        </div>
        <div class="dishes__slide swiper-slide reveal-clip">
          <img class="dishes__img" src="img/dish-2.png" width="692" height="420" alt="Долма" loading="lazy">
        </div>
        <div class="dishes__slide swiper-slide reveal-clip">
          <img class="dishes__img" src="img/dish-1.png" width="692" height="420" alt="Хингал" loading="lazy">
        </div>
        <div class="dishes__slide swiper-slide reveal-clip">
          <img class="dishes__img" src="img/dish-2.png" width="692" height="420" alt="Долма" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
