<section class="spa spa--error">
  <div class="spa__container container">
    <div class="spa__box">
      <canvas class="spa__waves" aria-hidden="true"></canvas>

      <div class="spa__content">
        <h1 class="spa__title text-up reveal-blur">Возможно, она была удалена или адрес указан неверно.</h1>
        <p class="spa__text reveal-blur">Вернитесь на главную страницу и продолжите знакомство с “ORLOV BANYA SEABREEZE”.</p>
        <a class="spa__btn reveal-blur" href="index.html">Вернуться на главную</a>
      </div>
    </div>
  </div>
</section>
