<section class="faq">
  <div class="faq__container container">
    <h2 class="faq__title text-up reveal-blur">FAQ для Orlov Banya Sea Breeze</h2>

    <div class="faq__list">
      @@include('sections/faq-item.html', { "id": "1", "open": true, "question": "Могут ли мужчины и женщины одновременно посещать общественную баню?" })
      @@include('sections/faq-item.html', { "id": "2", "open": false, "question": "Нужно ли заранее бронировать посещение?" })
      @@include('sections/faq-item.html', { "id": "3", "open": false, "question": "Можно ли прийти без предварительного бронирования?" })
      @@include('sections/faq-item.html', { "id": "4", "open": false, "question": "Можно ли приходить со своей едой и напитками?" })
      @@include('sections/faq-item.html', { "id": "5", "open": false, "question": "Можно ли отдыхать мужчинам и женщинам вместе в банной вилле?" })
      @@include('sections/faq-item.html', { "id": "6", "open": false, "question": "Что входит в посещение общественной бани?" })
      @@include('sections/faq-item.html', { "id": "7", "open": false, "question": "Что нужно взять с собой в баню?" })
      @@include('sections/faq-item.html', { "id": "8", "open": false, "question": "Можно ли посещать баню с детьми?" })
      @@include('sections/faq-item.html', { "id": "9", "open": false, "question": "Какой график работы комплекса?" })
      @@include('sections/faq-item.html', { "id": "10", "open": false, "question": "Есть ли противопоказания для посещения бани?" })
      @@include('sections/faq-item.html', { "id": "11", "open": false, "question": "Где находится Orlov Banya Sea Breeze?" })
    </div>
  </div>
</section>
