<section class="goods">
  <img class="goods__img" src="img/goods-bg.png" width="2880" height="1600" alt="" loading="lazy">

  <div class="goods__container container">
    <h2 class="goods__title text-up reveal-blur">Банные принадлежности, аксессуары и средства ухода для продолжения ритуала за пределами комплекса.</h2>
    <a class="goods__btn reveal-blur" href="products.html">
      <span class="goods__btn-icon">
        @@include('icons/book.html')
      </span>
      Смотреть товары
    </a>
  </div>
</section>
