<section class="steps" id="steps">
  <div class="steps__container container">
    <h2 class="steps__title text-up text-center reveal-blur">Как это работает</h2>

    <ul class="steps__list">
      <li class="steps__card reveal-clip">
        <img class="steps__img" src="img/loyalty-step-1.png" width="342" height="360" alt="" loading="lazy">
        <div class="steps__body">
          <h3 class="steps__name">Зарегистрируйтесь</h3>
          <p class="steps__text">Заполните анкету и вступите в программу лояльности.</p>
          <button class="steps__btn modal-btn" type="button" data-type="loyalty">Зарегистрироваться</button>
        </div>
      </li>
      <li class="steps__card reveal-clip">
        <img class="steps__img" src="img/loyalty-step-2.png" width="342" height="360" alt="" loading="lazy">
        <div class="steps__body">
          <h3 class="steps__name">Добавьте карту</h3>
          <p class="steps__text">Скачайте карту постоянного гостя в Apple Wallet или WalletPasses.</p>
          <a class="steps__btn" href="#">Добавить карту</a>
        </div>
      </li>
      <li class="steps__card reveal-clip">
        <img class="steps__img" src="img/loyalty-step-3.png" width="342" height="360" alt="" loading="lazy">
        <div class="steps__body">
          <h3 class="steps__name">Получите бонусы</h3>
          <p class="steps__text">Получите Х приветственных бонусов и используйте их на услуги комплекса.</p>
        </div>
      </li>
      <li class="steps__card reveal-clip">
        <img class="steps__img" src="img/loyalty-step-4.png" width="342" height="360" alt="" loading="lazy">
        <div class="steps__body">
          <h3 class="steps__name">Копите баллы</h3>
          <p class="steps__text">Получайте 5% с каждого визита и оплачивайте баллами до 40% счёта.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
