<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/menu-bg.png" width="3000" height="1600" alt="Кухня Orlov Banya Sea Breeze" fetchpriority="high">
      </div>
    </div>
  </div>

  <div class="hero__container container">
    <h1 class="hero__title text-up">Меню</h1>

    <div class="hero__bottom">
      <div class="hero__info">
        <p class="hero__text">Кухня Orlov Banya Sea Breeze объединяет традиции банной гастрономии с акцентами локальной азербайджанской кухни — от лёгких закусок до горячих блюд и напитков для полноценного отдыха.</p>
        <a class="hero__btn" href="#cuisine">
          <span class="hero__btn-icon">
            @@include('icons/book.html')
          </span>
          Ознакомиться с меню
        </a>
      </div>
    </div>
  </div>
</section>
