<section class="news">
  <div class="news__container container">
    <h2 class="news__title text-up">Парения, тематические программы и специальные события Orlov Banya Sea Breeze</h2>

    <div class="news__slider swiper">
      <div class="swiper-wrapper">
        <article class="news__card swiper-slide">
          <img class="news__img" src="img/news-card-1.png" width="459" height="360" alt="" loading="lazy">
          <div class="news__body">
            <p class="news__meta">20 сентября · Авторское парение</p>
            <h3 class="news__name">Банные гастроли в орловских банях мужского отделения</h3>
            <a class="news__btn" href="#">Узнать подробнее</a>
          </div>
        </article>
        <article class="news__card swiper-slide">
          <img class="news__img" src="img/news-card-2.png" width="459" height="360" alt="" loading="lazy">
          <div class="news__body">
            <p class="news__meta">27 сентября · Банный вечер</p>
            <h3 class="news__name">Ночь в бане. Пар, огонь и живая атмосфера.</h3>
            <a class="news__btn" href="#">Узнать подробнее</a>
          </div>
        </article>
        <article class="news__card swiper-slide">
          <img class="news__img" src="img/news-card-3.png" width="459" height="360" alt="" loading="lazy">
          <div class="news__body">
            <p class="news__meta">4 октября · SPA ритуал</p>
            <h3 class="news__name">Тишина для тела. Время для себя.</h3>
            <a class="news__btn" href="#">Узнать подробнее</a>
          </div>
        </article>
        <article class="news__card swiper-slide">
          <img class="news__img" src="img/news-card-1.png" width="459" height="360" alt="" loading="lazy">
          <div class="news__body">
            <p class="news__meta">20 сентября · Авторское парение</p>
            <h3 class="news__name">Банные гастроли в орловских банях мужского отделения</h3>
            <a class="news__btn" href="#">Узнать подробнее</a>
          </div>
        </article>
      </div>
    </div>

    <a class="news__all" href="#">Смотреть все афиши</a>
  </div>
</section>
