<section class="post">
  <div class="post__container container">
    <a class="post__back reveal-blur" href="news.html">
      <svg class="post__back-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.29935 7L8.98268 9.68333L8.16602 10.5L4.66602 7L8.16602 3.5L8.98268 4.31667L6.29935 7Z" fill="#1D1B20"/>
      </svg>
      Вернуться назад
    </a>

    <time class="post__date reveal-blur" datetime="2026-11-30">30 ноября 2026 года</time>
    <h1 class="post__title text-up reveal-blur">30 ноября Orlov Banya Sea Breeze начнет работу в формате технического открытия.</h1>

    <img class="post__img reveal-clip" src="img/news-card-1.png" width="692" height="400" alt="">

    <div class="post__content reveal-blur">
      <p>30 ноября 2026 года Orlov Banya Sea Breeze начнет принимать первых гостей в рамках технического открытия. Этот период позволит запустить основные направления комплекса и подготовиться к официальному открытию 20 декабря.</p>
    </div>
  </div>
</section>
