<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/products-bg.png" width="1440" height="800" alt="Товары для бани Orlov Banya" fetchpriority="high">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/products-bg-2.png" width="1440" height="800" alt="" loading="lazy">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/products-bg.png" width="1440" height="800" alt="" loading="lazy">
      </div>
    </div>
  </div>

  <div class="hero__container container">
    <h1 class="hero__title text-up">Товары<br>для бани</h1>

    <div class="hero__bottom">
      <div class="hero__info">
        <div class="hero__pagination"></div>
        <p class="hero__text">Все необходимое для банного отдыха можно приобрести непосредственно в комплексе: банные принадлежности, аксессуары и средства ухода.</p>
        <a class="hero__btn" href="#catalog">
          <span class="hero__btn-icon">
            @@include('icons/book.html')
          </span>
          Смотреть товары
        </a>
      </div>
    </div>
  </div>
</section>
