<section class="ritual">
  <img class="ritual__bg" src="img/ritual-bg.png" width="1384" height="1040" alt="" loading="lazy">

  <div class="ritual__container container">
    <div class="ritual__card">
      <div class="ritual__content">
        <h2 class="ritual__title text-up reveal-blur">Банный ритуал «Габала»</h2>
        <p class="ritual__text reveal-blur">Авторская программа парения для приватного отдыха с атмосферой уединения, мягким прогревом и восстановлением.</p>

        <h3 class="ritual__label text-up reveal-blur">Уже включено в стоимость:</h3>
        <ul class="ritual__tags">
          <li class="ritual__tag reveal-blur">Авторское парение</li>
          <li class="ritual__tag reveal-blur">Чайная церемония</li>
          <li class="ritual__tag reveal-blur">Текстиль для парения</li>
          <li class="ritual__tag reveal-blur">Контрастные процедуры</li>
          <li class="ritual__tag reveal-blur">Приватная зона отдыха</li>
        </ul>

        <a class="ritual__btn reveal-blur" href="book.html">
          <span class="ritual__btn-icon">
            @@include('icons/book.html')
          </span>
          Забронировать
        </a>
      </div>

      <div class="ritual__media">
      </div>
    </div>
  </div>
</section>
