<section class="schedule">
  <div class="schedule__container container">
    <div class="schedule__frame">
      <div class="schedule__window" data-lenis-prevent>
        <div class="schedule__card">
          <div class="schedule__head">
            <h2 class="schedule__title text-up">Расписание<br>парения</h2>
          </div>

          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__name">Классический пар</p>
              <p class="schedule__time">12:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Пихтовый пар</p>
              <p class="schedule__time">13:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Берёзовый пар</p>
              <p class="schedule__time">14:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Таёжный пар</p>
              <p class="schedule__time">15:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Классический пар</p>
              <p class="schedule__time">16:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Пар с минеральным контрастом</p>
              <p class="schedule__time">17:00</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__name">Лечебный пар</p>
              <p class="schedule__time">18:00</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
