<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/spa-bg.png" width="1440" height="800" alt="СПА-услуги Orlov Banya Sea Breeze" fetchpriority="high">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/spa-bg.png" width="1440" height="800" alt="" loading="lazy">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/spa-bg.png" width="1440" height="800" alt="" loading="lazy">
      </div>
    </div>
  </div>

  <div class="hero__container container">
    <h1 class="hero__title text-up">СПА-услуги</h1>

    <div class="hero__bottom">
      <div class="hero__info">
        <div class="hero__pagination"></div>
        <p class="hero__text">Дополните банный отдых процедурами для восстановления и ухода за телом.<br>В SPA-меню Orlov Banya Sea Breeze будут представлены авторские парения, массажи, SPA-уходы, мыльные помывки и другие банные ритуалы.</p>
        <button class="hero__btn modal-btn" type="button" data-type="consult">
          <span class="hero__btn-icon">
            @@include('icons/book.html')
          </span>
          Получить консультацию
        </button>
      </div>
    </div>
  </div>
</section>
