<section class="spaces">
  <div class="spaces__container container">
    <ul class="spaces__list">
      <li class="spaces__card reveal-down">
        <img class="spaces__img" src="img/about-img-2.png" width="1672" height="941" alt="" loading="lazy">
        <p class="spaces__label reveal-blur">Общественная баня</p>
        <h2 class="spaces__title reveal-blur">Пар, традиции и атмосфера общего ритуала.</h2>
        <a class="spaces__btn reveal-blur" href="#">Узнать подробнее</a>
      </li>
      <li class="spaces__card reveal-down">
        <img class="spaces__img" src="img/hero-img.png" width="2200" height="1322" alt="" loading="lazy">
        <p class="spaces__label reveal-blur">VIP - кабинет</p>
        <h2 class="spaces__title reveal-blur">Уединение, комфорт и свой ритм отдыха.</h2>
        <a class="spaces__btn reveal-blur" href="#">Узнать подробнее</a>
      </li>
      <li class="spaces__card reveal-down">
        <img class="spaces__img" src="img/about-img-1.png" width="1672" height="941" alt="" loading="lazy">
        <p class="spaces__label reveal-blur">Банные виллы</p>
        <h2 class="spaces__title reveal-blur">Пространство, которое принадлежит только вам.</h2>
        <a class="spaces__btn reveal-blur" href="#">Узнать подробнее</a>
      </li>
    </ul>
  </div>
</section>
