<section class="spaces">
  <div class="spaces__container container">
    <ul class="spaces__list">
      <li class="spaces__card">
        <img class="spaces__img" src="img/about-img-2.png" width="1672" height="941" alt="" loading="lazy">
        <p class="spaces__label">Общественная баня</p>
        <h2 class="spaces__title">Пар, традиции и атмосфера общего ритуала.</h2>
        <a class="spaces__btn" href="#">Узнать подробнее</a>
      </li>
      <li class="spaces__card">
        <img class="spaces__img" src="img/hero-img.png" width="2200" height="1322" alt="" loading="lazy">
        <p class="spaces__label">VIP - кабинет</p>
        <h2 class="spaces__title">Уединение, комфорт и свой ритм отдыха.</h2>
        <a class="spaces__btn" href="#">Узнать подробнее</a>
      </li>
      <li class="spaces__card">
        <img class="spaces__img" src="img/about-img-1.png" width="1672" height="941" alt="" loading="lazy">
        <p class="spaces__label">Банные виллы</p>
        <h2 class="spaces__title">Пространство, которое принадлежит только вам.</h2>
        <a class="spaces__btn" href="#">Узнать подробнее</a>
      </li>
    </ul>
  </div>
</section>
