<section class="spa spa--thanks">
  <div class="spa__container container">
    <div class="spa__box">
      <canvas class="spa__waves" aria-hidden="true"></canvas>

      <div class="spa__content">
        <h1 class="spa__title text-up reveal-blur">Спасибо! Карта лояльности успешно оформлена.</h1>
        <p class="spa__text reveal-blur">Теперь вам доступны специальные предложения и привилегии программы лояльности “ORLOV BANYA SEABREEZE”</p>
        <a class="spa__btn reveal-blur" href="index.html">Вернуться на главную</a>
      </div>
    </div>
  </div>
</section>
