<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/hero-img.png" width="3000" height="1600" alt="Банная вилла Orlov Banya" fetchpriority="high">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/hero-img.png" width="3000" height="1600" alt="" loading="lazy">
      </div>
      <div class="hero__slide swiper-slide">
        <img class="hero__img" src="img/hero-img.png" width="3000" height="1600" alt="" loading="lazy">
      </div>
    </div>
  </div>

  <div class="hero__container container">
    <h1 class="hero__title text-up">Банные виллы</h1>

    <div class="hero__bottom">
      <div class="hero__info">
        <div class="hero__pagination"></div>
        <p class="hero__text">Пространство для настоящего банного отдыха у моря. Коллективные парения каждый час с пар-мастерами Orlov Banya и приглашёнными специалистами.</p>
      </div>
    </div>
  </div>
</section>
