<svg class="book-icon book-icon--square @@class" viewBox="0 0 18 18" fill="currentColor" shape-rendering="crispEdges" aria-hidden="true">
  <path d="M0 0h6v6H0zM0 12h6v6H0zM12 0h6v6h-6zM12 12h6v6h-6z"/>
  <rect class="book-icon__side book-icon__side--top" x="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--left" y="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--right" x="14" y="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--bottom" x="7" y="14" width="4" height="4"/>
</svg>
