<svg class="book-icon" viewBox="0 0 18 18" fill="currentColor" aria-hidden="true">
  <path d="M0 6a6 6 0 0 1 6-6v6H0ZM0 12a6 6 0 0 0 6 6v-6H0ZM12 0a6 6 0 0 1 6 6h-6V0ZM12 18a6 6 0 0 0 6-6h-6v6Z"/>
  <rect class="book-icon__side book-icon__side--top" x="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--left" y="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--right" x="14" y="7" width="4" height="4"/>
  <rect class="book-icon__side book-icon__side--bottom" x="7" y="14" width="4" height="4"/>
  <rect class="book-icon__center" x="7" y="7" width="4" height="4"/>
</svg>
