// Файл генерируется автоматически (gulp fontsStyle) — не редактировать

@font-face {
  font-family: "EuclidFlex";
  src: url("../fonts/EuclidFlexBold.woff2") format("woff2"),
    url("../fonts/EuclidFlexBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("../fonts/EuclidFlexLight.woff2") format("woff2"),
    url("../fonts/EuclidFlexLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("../fonts/EuclidFlexMedium.woff2") format("woff2"),
    url("../fonts/EuclidFlexMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("../fonts/EuclidFlexRegular.woff2") format("woff2"),
    url("../fonts/EuclidFlexRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EuclidFlex";
  src: url("../fonts/EuclidFlexSemiBold.woff2") format("woff2"),
    url("../fonts/EuclidFlexSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shadower";
  src: url("../fonts/Shadower.woff2") format("woff2"),
    url("../fonts/Shadower.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
